* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #000000;
  color: cornsilk; }

h1 {
  text-align: center;
  margin: auto;
  color: #0a0a0a; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #ffde59;
  padding: 10px;
  position: static;
  top: 0px; }

nav {
  display: flex;
  align-items: center; }

ul {
  display: flex;
  list-style: none; }

ul li a {
  color: #000000;
  margin: 30px;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none; }

/*footer*/
.footer-basic {
  padding: 40px 0;
  background-color: #000000;
  color: #ffffff; }

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px; }

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75; }

.footer-basic .social > a:hover {
  opacity: 0.9; }

.footer-basic .minombre {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0; }

/*index*/
.banner {
  background: url(../imagen/fondoo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85vh; }

.intro {
  position: absolute;
  top: 30%;
  left: 40%;
  color: #ffde59;
  font-size: 35px;
  margin-left: -80px; }

.intro h2, p {
  display: flex;
  width: 60%; }

.intro h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 50px; }

.intro .btn {
  margin-top: 2rem;
  font-size: 50px;
  color: #000000;
  background-color: #ffde59; }

.row {
  display: flex;
  justify-content: center; }

.card {
  width: 33.3%;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #000000; }

.card h2 {
  text-transform: uppercase;
  color: #ffde59; }

.subtitulo {
  font-size: 12px; }

.subtitulo2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff; }

/*galeria*/
.imagen {
  width: 100%; }

.imagen img {
  width: 100%; }

.galeria {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .5rem;
  row-gap: .5rem; }

.titulo-gale {
  color: #ffde59; }

/*informacion*/
section {
  width: 100%;
  margin-bottom: 25px; }

#blog h3 {
  text-align: center;
  background-color: #ffde59; }

.formacion {
  background-color: #ffde59;
  width: 100%;
  color: #070707;
  font-size: 1.5rem; }

#blog .contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

#blog article {
  margin: 15px; }

#blog img {
  width: 100%;
  max-width: 280px; }

#info {
  background: #333;
  color: #fff;
  text-align: center; }

#info .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.info-ent {
  margin: 20px; }

.info-ent img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 7px solid #fff; }

.bienvenidos {
  background-color: #000000;
  color: #ffde59;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.formacion {
  background-color: #ffde59;
  text-align: center; }

.descripcion {
  background-color: #000000;
  color: #ffde59;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: contents; }

.mapa {
  right: 50%; }

h4 {
  text-align: center;
  font-size: 2rem; }

.ubicacion {
  color: #ffde59;
  text-align: center; }

/*inscribite*/
.registro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(228, 191, 27, 0.3)), url(../imagen/1234.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  text-align: center; }

.registro h1 {
  font-size: 3.8rem;
  padding: 0.5rem;
  display: inline-block;
  color: #ffde59;
  border-bottom: 0.3rem solid #ffde59;
  margin-bottom: 2.2rem; }

.registro form {
  padding: 2% 6%;
  margin: 0 auto; }

.registro form .input_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.registro form .input_box input, textarea {
  height: 4rem;
  width: 49%;
  background-color: transparent;
  color: #ffde59;
  padding: 3rem 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  border: 1px solid #ffde59; }

.registro form textarea {
  height: 20rem;
  width: 100%;
  resize: none;
  padding: 1rem; }

/*planes*/
.servicios {
  min-height: 100vh;
  text-align: center;
  padding: 2% 6%; }

.servicios h1 {
  font-size: 3.8rem;
  padding: 0.5rem;
  display: inline-block;
  color: #ffde59;
  border-bottom: .3rem solid #ffde59;
  margin-bottom: 1.8rem; }

.servicios .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; }

.servicios .container .box {
  width: 31rem;
  height: 31rem;
  margin: .5rem;
  position: relative;
  overflow: hidden; }

.servicios .container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.servicios .container .box .plan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: bottom;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.servicios .container .box:hover .plan {
  transform: translate(-50%, -50%) scale(1); }

.servicios .container .box .plan p {
  line-height: 2;
  color: #fff;
  font-size: 1.1rem;
  padding: 0 1rem;
  margin-bottom: 1.2rem; }

h3 {
  color: #ffde59; }

@media (max-width: 768px) {
  header {
    width: 100%;
    flex-direction: row-reverse; }
  .logo__img {
    height: 60px; }
  p {
    width: 80px;
    font-size: 14px; }
  .intro h2 {
    font-size: 20px; } }
